a{
  color: red;
  /* font-size: 3rem; */
  cursor: pointer;
  text-decoration: none;
  position:relative;
} 
a::after{
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  width: 0;
  transition: width .2s;
  background: red;
  left: 0;

  }
a:hover:after {
width: 100%;
}
